<div ui-view="mainView">	
	<h3>{{data[index].title}}</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">{{data[index].subtitle}}</div>
			<div class="panel-toolbar"></div>
		</div>
		<div class="panel-body">
			<p ng-repeat="section in data[index].sections" style="text-align:justify" ng-bind-html="renderHtml(section)"></p>
			<div ng-show="data[index].image != null" style="height:340px;width:500px;margin:0 auto;">
				<img id="lo_go" class="img-responsive" ng-src="./img/{{data[index].image}}" alt="..." class="img-rounded">
			</div>
		</div>
	</div>
</div>